@import "/src/assets/styles/main.scss";
@import "/src/assets/styles/mixins.scss";

body {
  max-width: 90rem;
  margin: 0 7.4375rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--font-color);
  h1 {
    font-size: 1rem;
    .description {
      @include flex;
      align-items: flex-start;
      max-width: 23.6875rem;
      height: 7.75rem;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
    .img {
      background: url("/assets/images/person_card.png") no-repeat left;
      width: 7.75rem;
      height: 7.75rem;
    }
    .info {
      flex: 50%;
      margin-left: 1.5rem;
      .state {
        background: var(--state-color);
        color: var(--state-font-color);
        text-align: center;
        padding: 0.25rem 0;
        width: 4.0625rem;
        font-size: 0.75rem;
        margin-bottom: 0.75rem;
      }
      h2 {
        font-size: 1rem;
        margin: 0;
        padding: 0;
      }
      .text {
        font-size: 0.75rem;
        margin: 0;
        padding: 0;
        span {
          color: var(--font-span-color);
        }
      }
    }
  }
}
