@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --font-color: #2d2d2d;
  --font-span-color: #a9a9a9;
  --btn-color: #f1b926;
  --state-color: rgba(48, 255, 30, 0.2);
  --state-font-color: rgba(81, 226, 69, 1);
}
